<!DOCTYPE html>
<html>
<head>
    <title>Simple users/project report</title>
</head>
<body>
    <h2>Projects!</h2>
    <ol>
        {% for project in jira_projects if project.getJiraWorklogs().count() %}
        <li>{{project.name}} - {{project.getTotalSpentTime()}}</li>
        {% endfor %}
    </ol>
    <h2>Users!</h2>
    <ol>
        {% for user in jira_users if user.getJiraWorklogs().count()  %}
        <li>{{user.name}} - {{user.getTotalSpentTime()}}</li>
        {% endfor %}
    </ol>
</body>
</html>
